/*google font import*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poiret+One&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poiret One", sans-serif;
}


header{
    font-size: 3rem;
    text-align: center;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}
/*working on nav bar*/
nav{
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
/*this aint right?*/
    top: 100%;
}

body{
    background-color: beige;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
    /*space between content and header*/
    margin-top: 3rem;
}

footer{
    background-color: black;
    color: beige;
}

/*classes*/

.slogan{
    text-align: left;
    background-color: black;
    color: beige;
    /**/
    padding: 0 1.5rem;
    
}

.nav-toggle-label{
    font-size: 2rem;
}

.welcome{
    color: beige;
    background-color: gray;
}

.active{
    border-bottom: 1px solid beige;
}


/*IDs*/
#navi{
    background-color: gray;
    text-align: center;
    font-size: 2rem;
}

#navi a {
    text-decoration: none;
    color: beige;
}

#nav-toggle:checked~nav{
    display: block;
}

#nav-toggle{
    display: none;
}


/*media queries

@media screen and (min-width: 768px) {
    nav{
        width: fit-content;
        position: relative;
    }

    #navi{
        background-color: beige;
        color: black;
        display: flex;
    }

    .nav-toggle-label{
        display: none;
    }

    
    
}
    */


    
.socials{
    text-align: center;
    background-color: beige;
    justify-content: space-between;
    text-decoration: none;
    color: inherit;
}

.socials li{
    display: inline;
}

.socials i{
    font-size: 200%;
    margin: 1%;
    padding: 16px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    padding: 10px;
}