/*google font import*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poiret+One&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poiret One", sans-serif;
}


header{
    font-size: 3rem;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1{
    text-align: center;
}


/*nav bar*/
nav{
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 0.5rem;
    display: none;
    top: 100%;
}

.nav-toggle-label{
    font-size: 2rem;
}

#navi{
    background-color: gray;
    text-align: center;
    font-size: 2rem;
}

#navi a {
    text-decoration: none;
    color: beige;
}

#nav-toggle:checked~nav{
    display: block;
}

#nav-toggle{
    display: none;
}




body{
    background-color: beige;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
    /*space between content and header*/
    margin-top: 1rem;
}

footer a{
    background-color: black;
    color: beige;
}

img{
    flex: 1;
    margin: 20px;
    box-sizing: border-box; 
    max-width: 25em;
    min-width: 15em; 
    text-align: center; 
    height: 25rem;
}

figcaption{
    font-size: 4rem;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
}
    

/*Contact Us page*/

.info{
    font-size: 4rem;
    text-align: center;
}


/*classes*/

.booking{
    margin: 5px;
    border: 1px solid black;
    background-color: beige;
    font-size: 1.2em;
    font-weight: 400;
    max-width: 20em;
    color: gray;
    padding: 10px;
    max-height: fit-content;
    align-items: center;
}

.slogan{
    text-align: center;
    background-color: black;
    color: beige;
    font-size: 2rem;
    padding: 0 1.5rem;
    
}

.welcome{
    color: black;
    font-size: 2rem;
    text-align: center;
}

.active{
    border-bottom: 1px solid beige;
}
    
.socials{
    text-align: center;
    background-color: black;
    justify-content: space-between;
    text-decoration: none;
    color: beige;
    list-style: none;
}

.socials li{
    display: inline;
}

.socials i{
    font-size: 200%;
    margin: 1%;
    padding: 16px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    padding: 10px;
}

/*rooms page*/

.room-type{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    padding: 10px;
}

.room-type img{
    height: fit-content;
}

.room-type a{
    text-decoration: underline;
    color: black;
}

.amenities{
    margin: 5px;
    border: 0.1em solid black;
    font-size: 3rem;
    text-align: center;
    max-width: 20em;
    float: left;
    font-size: 1.5rem;
}

.amenities-list{
    list-style: none;
    font-size: 2rem;
}






#map {
    height: 150%;
    width: 50%;
    border: none;
}
/*IDs*/


/*media queries

@media screen and (min-width: 768px) {
    nav{
        width: fit-content;
        position: relative;
    }

    #navi{
        background-color: beige;
        color: black;
        display: flex;
    }

    .nav-toggle-label{
        display: none;
    }

    
    
}
    */
